{% extends "base_generic.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% if Error %}
    <p>Error: {{ Error }}</p>
    {% elif img_anly %}
    <table>
        <tr>
            <td>
                <img src="{{ img_anly.img_anly_fn.url }}" alt="Pic" height="450" width="600">
            </td>
            <td>
                <table class="table_style">
                    <tr class="table_row_style">
                        <td>Number of Wrinkles</td>
                        <td>{{ img_anly.num_objects }}</td>
                    </tr>
                    <tr class="table_row_style">
                        <td>Seat Serial</td>
                        <td>{{ img_anly.img_seat_serial }}</td>
                    </tr>
                    <tr class="table_row_style">
                        <td>Execution Start Time</td>
                        <td>{{ img_anly.img_anly_start_time }}</td>
                    </tr>
                    <tr class="table_row_style">
                        <td>Execution End Time</td>
                        <td>{{ img_anly.img_anly_end_time }}</td>
                    </tr>
                    <tr class="table_row_style">
                        <td>Duration (in seconds)</td>
                        <td>{{ img_anly.img_anly_exec_time }}</td>
                    </tr>
                    
                </table>
            </td>
        </tr>
    </table>

    {% endif %}

    <p>
        <input type=button value="Back" onClick="javascript:history.go(-1);">
    </p>
</form>

{% endblock %}