<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>ABC Inc. Wrinkle Detect</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <h1 class="banner_style">
            <a href="{% url 'index' %}">Wrinkle Detect Application</a>
        </h1>
        <div class="regular_text">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>